*{
    font-family:Geneva, Verdana, sans-serif;
    padding: 0;
  margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    color: aliceblue;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200PX;
}
.logo{
    text-decoration: none;
    color:rgb(0, 162, 255) ;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 800;
    letter-spacing: 2px;
}
.naviction a{
    color:rgba(0, 162, 255, 0.852);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
.naviction a:hover{
    color:#601cfc;
}
section{
    padding: 100px 200px;
}
.main{
     width: 100%;
     min-height: 100vh;
     display: flex;
     align-items: center;
     background: url(ANTER.png) no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}
.main h2{
    color:#fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block; 
    color: #004ef5;
    font-size: 3em;
    font-weight: 500;
    

}
.main h3{
    color: hsl(60, 2%, 90%);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}
.main-btom{
color: #fff;
background-color: #0045f5;
text-decoration: none;
font-size: 1.2em;
font-weight: 600;
display: inline-block;
padding:0.935em 2.1875em ;
letter-spacing: 3px;
margin-bottom:40px ;
border-radius: 10px;
transition: 0.4s ease;
}
.main-btom:hover{
  background-color: #ffffff55;
 font-size: 1.3em;
}
.scrol-icons a{
    color: #fff;
    font-size: 1.8em;
    padding-right: 30px;
   
}
.scrol-icons a:active{
    color: rgb(239, 3, 3);
    font-size: 2em;
}
.tittle {
    display:flex ;
    justify-content: center;
    font-size:2.2em;
    font-weight: 700;
    margin-bottom: 30px;
    color: #0045f5;
}
.content {
 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 22.83em;
    box-shadow:  0 5px 25px rgba(1 1 1/25%);
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.icon{
    color: #0045f5;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: blue;
    font-size: 1.8em;
    font-weight: 600;
    margin: 15px;
}
.project{ background-color: #000015;}
.project .content{
    margin-top: 25px;
}

.project-card{
    color: #020202;
    background-color: #ffffff;
    border:2px solid white ;
    min-height: 14em;
    border-radius: 10px;
    width: 23em;
    margin: 20px;
    overflow: hidden;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card :hover.project-imges{
    opacity:0.9;
}
.project-imges img{
    width: 100%;
}
.project-info{
    padding: 16px;
}
.project-catgory{
    color: black;
    font-size:0.8em;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-datalist{
    color: #0606ee;
    text-decoration: none;
    

}
.more-datalist:hover{
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: black;
}
.contact .info p{
    font-size: 1.5em;
}
.footer{
    background-color: #000016;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-tittle{
    font-size: 1.5em;
    font-weight: 800;
}
.footer-tittle span{
    color: #0045f5;
}
.footer .scrol-icons{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media (max-width:1023px){
    header{ padding: 12px 20px;}
    .naviction a{
        padding-left: 10px;
    }
   .tittle{
    font-size: 1.8em;
   }
   section{
    padding: 80px 20px;
   }
   .main-content h2{
 font-size:1em
   }
   .main-content h3{
    font-size: 1.3em;
   }
   .content{
    flex-direction: column;
    align-items: center;
   }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
     font-size: 0.8em;
    }
     .main-content h3{
     font-size: 1.4em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10;
    }
}


























































































































































































